calismalar/kayit, sorgu, dolu-bos, guncelle, listeleme, rezervasyon/c sharp/WindowsFormsApplication12/Service References/ServiceReference1/Yeni_Web_Servis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cehars/" targetNamespace="http://cehars/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Yer_Ayirt" type="tns:Yer_Ayirt" />
  <xs:element name="Yer_AyirtResponse" type="tns:Yer_AyirtResponse" />
  <xs:element name="deneme" type="tns:deneme" />
  <xs:element name="denemeResponse" type="tns:denemeResponse" />
  <xs:element name="doluluk_durumu" type="tns:doluluk_durumu" />
  <xs:element name="doluluk_durumuResponse" type="tns:doluluk_durumuResponse" />
  <xs:element name="ekle" type="tns:ekle" />
  <xs:element name="ekleResponse" type="tns:ekleResponse" />
  <xs:element name="guncelle" type="tns:guncelle" />
  <xs:element name="guncelleResponse" type="tns:guncelleResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="listele_fiyat" type="tns:listele_fiyat" />
  <xs:element name="listele_fiyatResponse" type="tns:listele_fiyatResponse" />
  <xs:element name="listele_isim" type="tns:listele_isim" />
  <xs:element name="listele_isimResponse" type="tns:listele_isimResponse" />
  <xs:element name="onay" type="tns:onay" />
  <xs:element name="onayResponse" type="tns:onayResponse" />
  <xs:element name="sorgu" type="tns:sorgu" />
  <xs:element name="sorguResponse" type="tns:sorguResponse" />
  <xs:complexType name="listele_isim">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listele_isimResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listele_fiyat">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listele_fiyatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sorgu">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sorguResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ekle">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="fiyat" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ekleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Yer_Ayirt">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="kisi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Yer_AyirtResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guncelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="fiyat" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guncelleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doluluk_durumu">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doluluk_durumuResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deneme">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameter" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="denemeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onay">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="kac_kisi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="onayResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>