calismalar/kayit, sorgu, dolu-bos/c sharp/WindowsFormsApplication12/Service References/ServiceReference1/Yeni_Web_Servis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://cehars/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Yeni_Web_Servis" targetNamespace="http://cehars/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/WebApplication30/Yeni_Web_Servis?xsd=1" namespace="http://cehars/" />
    </xsd:schema>
  </types>
  <message name="ekle">
    <part name="parameters" element="tns:ekle" />
  </message>
  <message name="ekleResponse">
    <part name="parameters" element="tns:ekleResponse" />
  </message>
  <message name="deneme">
    <part name="parameters" element="tns:deneme" />
  </message>
  <message name="denemeResponse">
    <part name="parameters" element="tns:denemeResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="sorgu">
    <part name="parameters" element="tns:sorgu" />
  </message>
  <message name="sorguResponse">
    <part name="parameters" element="tns:sorguResponse" />
  </message>
  <message name="doluluk_durumu">
    <part name="parameters" element="tns:doluluk_durumu" />
  </message>
  <message name="doluluk_durumuResponse">
    <part name="parameters" element="tns:doluluk_durumuResponse" />
  </message>
  <portType name="Yeni_Web_Servis">
    <operation name="ekle">
      <input wsam:Action="http://cehars/Yeni_Web_Servis/ekleRequest" message="tns:ekle" />
      <output wsam:Action="http://cehars/Yeni_Web_Servis/ekleResponse" message="tns:ekleResponse" />
    </operation>
    <operation name="deneme">
      <input wsam:Action="http://cehars/Yeni_Web_Servis/denemeRequest" message="tns:deneme" />
      <output wsam:Action="http://cehars/Yeni_Web_Servis/denemeResponse" message="tns:denemeResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://cehars/Yeni_Web_Servis/helloRequest" message="tns:hello" />
      <output wsam:Action="http://cehars/Yeni_Web_Servis/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="sorgu">
      <input wsam:Action="http://cehars/Yeni_Web_Servis/sorguRequest" message="tns:sorgu" />
      <output wsam:Action="http://cehars/Yeni_Web_Servis/sorguResponse" message="tns:sorguResponse" />
    </operation>
    <operation name="doluluk_durumu">
      <input wsam:Action="http://cehars/Yeni_Web_Servis/doluluk_durumuRequest" message="tns:doluluk_durumu" />
      <output wsam:Action="http://cehars/Yeni_Web_Servis/doluluk_durumuResponse" message="tns:doluluk_durumuResponse" />
    </operation>
  </portType>
  <binding name="Yeni_Web_ServisPortBinding" type="tns:Yeni_Web_Servis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ekle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="deneme">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="sorgu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="doluluk_durumu">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Yeni_Web_Servis">
    <port name="Yeni_Web_ServisPort" binding="tns:Yeni_Web_ServisPortBinding">
      <soap:address location="http://localhost:8084/WebApplication30/Yeni_Web_Servis" />
    </port>
  </service>
</definitions>