calismalar/Web Servis - Hibernate - aciklamali/csharp/WindowsFormsApplication6/Service References/ServiceReference1/Yeni_Web_Servis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cehars/" targetNamespace="http://cehars/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="operasyon1" type="tns:operasyon1" />
  <xs:element name="operasyon1Response" type="tns:operasyon1Response" />
  <xs:element name="operasyon2" type="tns:operasyon2" />
  <xs:element name="operasyon2Response" type="tns:operasyon2Response" />
  <xs:complexType name="operasyon1">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="operasyon1Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operasyon2">
    <xs:sequence>
      <xs:element minOccurs="0" name="parameter" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operasyon2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>