calismalar/Rezervasyon Sistemi ilk/2 - admin2/c sharp/WindowsFormsApplication15/Service References/ServiceReference1/Yeni_Web_Servis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cehars/" targetNamespace="http://cehars/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="bos_bul" type="tns:bos_bul" />
  <xs:element name="bos_bulResponse" type="tns:bos_bulResponse" />
  <xs:element name="ekle" type="tns:ekle" />
  <xs:element name="ekleResponse" type="tns:ekleResponse" />
  <xs:element name="fiyat_bul" type="tns:fiyat_bul" />
  <xs:element name="fiyat_bulResponse" type="tns:fiyat_bulResponse" />
  <xs:element name="guncelle" type="tns:guncelle" />
  <xs:element name="guncelleResponse" type="tns:guncelleResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="listele_isim" type="tns:listele_isim" />
  <xs:element name="listele_isimResponse" type="tns:listele_isimResponse" />
  <xs:element name="sil" type="tns:sil" />
  <xs:element name="silResponse" type="tns:silResponse" />
  <xs:complexType name="listele_isim">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listele_isimResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fiyat_bul">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fiyat_bulResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ekle">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="fiyat" type="xs:string" />
      <xs:element minOccurs="0" name="bos" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ekleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guncelle">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
      <xs:element minOccurs="0" name="fiyat" type="xs:string" />
      <xs:element minOccurs="0" name="bos" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guncelleResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sil">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="silResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bos_bul">
    <xs:sequence>
      <xs:element minOccurs="0" name="otel_ismi" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bos_bulResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>